*,
html {
    font-size: 12px;
    /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Source Sans Pro";
    /* this should be the rest of the output you got from Google fonts */
    /* background-color: #da4 !important; */
    margin: 0;
    padding: 0;
}

/* START headers */
h1 {
    margin: 0;
    padding: 20px 0;
    /* color: #da4; */
    /* font-size: 20px; */
    text-align: left;
    /* text-shadow: 1px 1px 1px black; */
}

h2 {
    font-family: "Pirata One", cursive;
    font-size: xx-large;
    font-weight: 100;
    line-height: 1.2;
}

h3 {
    font-family: "Pirata One", cursive;
    font-size: x-large;
    font-weight: 100;
    /* line-height: 1.2; */
}

h4 {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    text-align: left;
}

/* END headers */

.section1 {
    background-color: #462115;
    max-height: 300px;
}

.section1 img.logo {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
    max-height: inherit;
}

.section2 {
    background-color: #da4;
    padding: 0 20px 20px 20px;
}

/* .section2 p { */
/* margin: 20 20px 20px 20px; */
/* padding: 0 30px 30px 30px; */
/* } */

.section3 {
    background-color: #632f1e;
    color: aliceblue;
}

.section3 h1 {
    font-family: "Pirata One", cursive;
    font-size: xxx-large;
    font-weight: 100;
    line-height: 1.2;
    color: #ddaa44;
}

.section3 h2 {
    color: aliceblue;
    font-weight: normal;
}

.section3 h3 {
    font-size: xx-large;
}

.section4 {
    background-color: #555;
    color: #ddaa44;
}

/* body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0px 20px 0px;
} */

p,
li {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1px;
}

/* START images*/
.float-right {
    float: right;
}

.divider {
    width: 100%;
}

/* END images*/

/* START form*/
form {
    /* Left Justify */
    /* margin: 0 auto; */
    width: 500px;
}

form li {
    list-style-type: none;
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: block;
    width: 90px;
    text-align: left;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 400px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 10em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

/* END form*/

/* START responsive columns*/
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* END responsive columns*/